.container {
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 80px;
	display: grid;
	grid-template-columns: 1fr 400px;
	gap: 20px;
}

.title {
	text-align: center;
}

.dogs {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-template-rows: 250px;
	gap: 16px;
}

.form {
}
